.header {
	background-color: #EE646C;
	background-image: url("https://secure.meetupstatic.com/photos/event/7/4/3/0/600_467729744.jpeg");
	/*background-size: cover;*/
	background-repeat: no-repeat;
	background-position: center;
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	margin-bottom: 50px;
	height: 200px;
}

.main-content {

}

h2 {
	font-family: Montserrat;
	color: #EE646C;
	padding: 15px;
}

h4 {
	font-family: Montserrat;
	color: #EE646C;
	padding: 15px;
	font-weight: bold;
}

p {
	line-height: 35px;
	font-family: Montserrat;
	padding: 15px;
	font-size: 16px;
	color: #777777;
}

strong {
	color: #EE646C;
}

li {
	font-family: Montserrat;
	color: #777777;
	font-size: 16px;
	padding-top: 10px;
}